In [1]:
import pandas as pd
import gmaps
import requests

from config import gKey

In [2]:
cityDataDf = pd.read_csv("weather_data/cities.csv")
cityDataDf.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alofi,NU,2021-08-14 00:53:52,-19.0595,-169.9187,75.09,69,6,16.11
1,1,Kenora,CA,2021-08-14 00:53:52,49.8167,-94.4337,67.17,39,40,9.22
2,2,Cape Town,ZA,2021-08-14 00:51:04,-33.9258,18.4232,50.88,74,0,1.99
3,3,Outram,MY,2021-08-14 00:53:53,1.2829,103.8379,84.04,86,75,1.14
4,4,Port Hedland,AU,2021-08-14 00:53:53,-20.3167,118.5667,73.45,17,0,8.05
5,5,Benjamin Constant,BR,2021-08-14 00:53:54,-4.3831,-70.0311,77.13,67,9,2.44
6,6,Shimoda,JP,2021-08-14 00:53:54,34.6667,138.9500,82.76,91,100,19.28
7,7,Namibe,AO,2021-08-14 00:53:54,-15.1961,12.1522,61.59,89,8,6.71
8,8,Bredasdorp,ZA,2021-08-14 00:53:55,-34.5322,20.0403,49.28,87,14,2.30
9,9,Pitlochry,GB,2021-08-14 00:53:55,56.7051,-3.7343,53.26,84,100,4.07

In [3]:
cityDataDf.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
gmaps.configure(api_key=gKey)

In [5]:
locations = cityDataDf[["Lat","Lng"]]

maxTemps = cityDataDf["Max Temp"]

fig = gmaps.figure(center = (30.0,31.0), zoom_level=1.5)

heatmap = gmaps.heatmap_layer(locations, weights = [max(temp,0) for temp in maxTemps], dissipating=False, 
                              max_intensity = 300, point_radius=4 )

fig.add_layer(heatmap)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
locations = cityDataDf[["Lat","Lng"]]

Humidity = cityDataDf["Humidity"]

fig = gmaps.figure(center = (30.0,31.0), zoom_level=1.5)

heatmap = gmaps.heatmap_layer(locations, weights = Humidity, dissipating=False, 
                              max_intensity = 300, point_radius=4 )

fig.add_layer(heatmap)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = cityDataDf[["Lat","Lng"]]

Clouds = cityDataDf["Cloudiness"]

fig = gmaps.figure(center = (30.0,31.0), zoom_level=1.5)

heatmap = gmaps.heatmap_layer(locations, weights = Clouds, dissipating=False, 
                              max_intensity = 300, point_radius=4 )

fig.add_layer(heatmap)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = cityDataDf[["Lat","Lng"]]

WindSpeed = cityDataDf["Wind Speed"]

fig = gmaps.figure(center = (30.0,31.0), zoom_level=1.5)

heatmap = gmaps.heatmap_layer(locations, weights = WindSpeed, dissipating=False, 
                              max_intensity = 300, point_radius=4 )

fig.add_layer(heatmap)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
minTemp = float(input("What is the minimum temperature you would like for your trip? "))
maxTemp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [10]:
preferredCities = cityDataDf.loc[(cityDataDf["Max Temp"] >= minTemp) & (cityDataDf["Max Temp"] <= maxTemp)]

preferredCities.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Alofi,NU,2021-08-14 00:53:52,-19.0595,-169.9187,75.09,69,6,16.11
3,3,Outram,MY,2021-08-14 00:53:53,1.2829,103.8379,84.04,86,75,1.14
5,5,Benjamin Constant,BR,2021-08-14 00:53:54,-4.3831,-70.0311,77.13,67,9,2.44
6,6,Shimoda,JP,2021-08-14 00:53:54,34.6667,138.9500,82.76,91,100,19.28
14,14,Hilo,US,2021-08-14 00:53:57,19.7297,-155.0900,82.11,79,7,1.99
27,27,Butaritari,KI,2021-08-14 00:54:01,3.0707,172.7902,82.22,75,77,9.22
30,30,Fort Nelson,CA,2021-08-14 00:54:02,58.8053,-122.7002,81.99,39,75,4.61
31,31,Lompoc,US,2021-08-14 00:51:32,34.6391,-120.4579,84.02,76,1,14.97
32,32,Campoverde,PE,2021-08-14 00:54:02,-8.4753,-74.8058,79.43,51,65,1.57
35,35,Baturaja,ID,2021-08-14 00:54:04,-4.1333,104.1667,77.58,84,89,2.73

In [11]:
preferredCities.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [12]:
hotels = preferredCities[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotels["Hotel Name"] = ""
hotels.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0               Alofi      NU     75.09 -19.0595 -169.9187
3              Outram      MY     84.04   1.2829  103.8379
5   Benjamin Constant      BR     77.13  -4.3831  -70.0311
6             Shimoda      JP     82.76  34.6667  138.9500
14               Hilo      US     82.11  19.7297 -155.0900
27         Butaritari      KI     82.22   3.0707  172.7902
30        Fort Nelson      CA     81.99  58.8053 -122.7002
31             Lompoc      US     84.02  34.6391 -120.4579
32         Campoverde      PE     79.43  -8.4753  -74.8058
35           Baturaja      ID     77.58  -4.1333  104.1667

In [15]:
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : gKey,
    
}

In [18]:
for index, row in hotels.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    baseURL = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotelName = requests.get(baseURL, params = params).json()
    
    
    try:
        hotels.loc[index, "Hotel Name"] = hotelName["results"][0]["name"]
    except (IndexError):
        print("Hotel not found.... skipping.")

Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.
Hotel not found.... skipping.

In [19]:
hotels.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Alofi,NU,75.09,-19.0595,-169.9187,Taloa Heights
3,Outram,MY,84.04,1.2829,103.8379,Grand Copthorne Waterfront
5,Benjamin Constant,BR,77.13,-4.3831,-70.0311,CASA AVALIADA
6,Shimoda,JP,82.76,34.6667,138.9500,Shimoda Tokyu Hotel
14,Hilo,US,82.11,19.7297,-155.0900,Hilo Hawaiian Hotel
27,Butaritari,KI,82.22,3.0707,172.7902,Isles Sunset Lodge
30,Fort Nelson,CA,81.99,58.8053,-122.7002,The Fort Nelson Hotel
31,Lompoc,US,84.02,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
32,Campoverde,PE,79.43,-8.4753,-74.8058,Hospedaje Coral's
35,Baturaja,ID,77.58,-4.1333,104.1667,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."

In [25]:
locations = hotels[["Lat","Lng"]]
maxTemp = hotels["Max Temp"]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)

heatmap = gmaps.heatmap_layer(locations, weights = maxTemp, dissipating=False, max_intensity = 300, point_radius=4)

fig.add_layer(heatmap)

markers = gmaps.marker_layer(locations, info_box_content=hotelInfo)
fig.add_layer(markers)


fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

In [24]:
hotelInfo = [info_box_template.format(**row) for index, row in hotels.iterrows()]