## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gKey

# Configure gmaps
gmaps.configure(api_key=gKey)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hilo,US,83.25,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,3,Namatanai,PG,83.57,few clouds,-3.6667,152.4333,Seagulls Inn Namatani
2,11,Majene,ID,76.37,scattered clouds,-3.5403,118.9707,Kost Putri RABBANI
3,14,Ormara,PK,78.69,overcast clouds,25.2088,64.6357,Crystal Beach and Camping Resort Ormara
4,15,Bathsheba,BB,77.61,broken clouds,13.2167,-59.5167,Atlantis Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center = (30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content= hotel_info)
fig.add_layer(markers)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Alta Floresta")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Alta Floresta")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Barra Do Bugres")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Jaciara")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Pontalina")]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

In [26]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

directions = gmaps.directions_layer(start,end, waypoints = [stop1,stop2,stop3], travel_mode = "DRIVING")



fig.add_layer(directions)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,490,Alta Floresta,BR,83.12,broken clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
1,490,Alta Floresta,BR,83.12,broken clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
2,337,Barra Do Bugres,BR,80.26,clear sky,-15.0725,-57.1811,Hotel 4AM Petrofurt
3,227,Jaciara,BR,78.78,clear sky,-15.9653,-54.9683,Taba Hotel
4,132,Pontalina,BR,76.51,clear sky,-17.5250,-49.4472,Hotel Entre Rios

In [24]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [29]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))